Gestor-Pedidos-Web/Connected Services/PedidoService/PedidosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPedidosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidosDTO" nillable="true" type="tns:PedidosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidosDTO" nillable="true" type="tns:ArrayOfPedidosDTO" />
  <xs:complexType name="PedidosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clientes" nillable="true" type="tns:ClientesDTO" />
      <xs:element minOccurs="0" name="ClientesId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidosDTO" nillable="true" type="tns:PedidosDTO" />
  <xs:complexType name="ClientesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientesId" type="xs:int" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesDTO" nillable="true" type="tns:ClientesDTO" />
</xs:schema>