Gestor-Pedidos-Web/Connected Services/PedidoService/PedidosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57264/Services/PedidosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.DTOs" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:ArrayOfPedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="ObtenerPorIdResult" nillable="true" type="q2:PedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="pedidoDto" nillable="true" type="q3:PedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="pedidoDTO" nillable="true" type="q4:PedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="BuscarResult" nillable="true" type="q5:ArrayOfPedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shared.DTOs" minOccurs="0" name="ReporteResult" nillable="true" type="q6:ArrayOfPedidosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>