Gestor-Pedidos-Web/Connected Services/PedidoService/PedidosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PedidosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57264/Services/PedidosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57264/Services/PedidosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57264/Services/PedidosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidosService_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_ObtenerPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorId" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_ObtenerPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Reporte_InputMessage">
    <wsdl:part name="parameters" element="tns:Reporte" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_Reporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidosService">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Obtener" message="tns:IPedidosService_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/ObtenerResponse" message="tns:IPedidosService_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/ObtenerPorId" message="tns:IPedidosService_ObtenerPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/ObtenerPorIdResponse" message="tns:IPedidosService_ObtenerPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Agregar" message="tns:IPedidosService_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/AgregarResponse" message="tns:IPedidosService_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Editar" message="tns:IPedidosService_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/EditarResponse" message="tns:IPedidosService_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Eliminar" message="tns:IPedidosService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/EliminarResponse" message="tns:IPedidosService_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Buscar" message="tns:IPedidosService_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/BuscarResponse" message="tns:IPedidosService_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/Reporte" message="tns:IPedidosService_Reporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/ReporteResponse" message="tns:IPedidosService_Reporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidosService" type="tns:IPedidosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/Reporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidosService">
    <wsdl:port name="BasicHttpBinding_IPedidosService" binding="tns:BasicHttpBinding_IPedidosService">
      <soap:address location="http://localhost:57264/Services/PedidosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>