Gestor-Pedidos-Web/Connected Services/ClienteService/ClientesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesDTO" nillable="true" type="tns:ClientesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesDTO" nillable="true" type="tns:ArrayOfClientesDTO" />
  <xs:complexType name="ClientesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientesId" type="xs:int" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesDTO" nillable="true" type="tns:ClientesDTO" />
</xs:schema>