Gestor-Pedidos-Web/Connected Services/ClienteService/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57264/Services/ClientesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57264/Services/ClientesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57264/Services/ClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientesService_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ObtenerPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorID" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ObtenerPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IClientesService_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientesService">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/Obtener" message="tns:IClientesService_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ObtenerResponse" message="tns:IClientesService_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/ObtenerPorID" message="tns:IClientesService_ObtenerPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ObtenerPorIDResponse" message="tns:IClientesService_ObtenerPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/Agregar" message="tns:IClientesService_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/AgregarResponse" message="tns:IClientesService_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/Editar" message="tns:IClientesService_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/EditarResponse" message="tns:IClientesService_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/Buscar" message="tns:IClientesService_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/BuscarResponse" message="tns:IClientesService_Buscar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientesService" type="tns:IClientesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IClientesService/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorID">
      <soap:operation soapAction="http://tempuri.org/IClientesService/ObtenerPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IClientesService/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IClientesService/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IClientesService/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClientesService" binding="tns:BasicHttpBinding_IClientesService">
      <soap:address location="http://localhost:57264/Services/ClientesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>